@charset "UTF-8";
/* CSS Document */
body {
	font-size:1em;
	}

body,p,a,h1,h2 {
	font-family: 'Cabin', sans-serif;
	}
p,h3,h4 {
	font-family: 'Source Sans Pro', sans-serif;
}

p.menubtn {
	margin-bottom:0px;
	}

#vesHeader {
	background-color:#FFF;
}

#topNav.container-fluid  {
	margin-top:0;
	height: 100px;
	padding: 0px
}

#logoDiv.span4, #logoDiv.span16 {
	background-image: url(../images/logoNorm.png);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: contain;
/*	width:180px;
*/	height:85px;
	margin-top:8px;
}
#logoDiv.span16 {
	display:none;
}
.navMiddleTop {
	width:100%;
	height:30px;

}

.navMiddleBottom {
	width:100%;
}

#logoDiv.span2 {
	background-image: url(../images/nasaLogo.png);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: contain;
/*	width:80px;
*/	height:65px;
	display: block;
  	padding: 0px;
	margin-top:20px;
}

.headerShadow {
	width: 100%;
	height: 10px;
	background-image:url(../images/headerShadow.png);
	background-size: 100% 10px;
	background-repeat: repeat-x;
}
hr {
	margin-bottom:0px;
	background-image:url(../images/hrShadow3.png);
	background-size: 100% 10px;
	background-repeat: repeat-x;
	width: 100%;
	height: 10px;
}
.headerShadowMobile {
	display:none;
}

.span2 {
	margin:0;
}

.span4 {
	margin:0;
}

.span12 {
	height:100px;
}

.navContainer {
	width:100%;
	/*margin-left:auto;
	margin-right:auto;*/
}


.adminContainer {
	width:35%;
	margin-left:auto;
	float:none;
}




/* From Stephen's CSS */
.navbar .nav {
	height:20px;
	font-weight:600;
	font-size:1em;
	margin: 20px 0px 0 0;
	float:none;	
}

.navbar .nav > li {
	padding:0px 15px;
}

.navbar .nav > li > a {
	color:#999;
	text-shadow:none;
	padding:10px 0px 0px 0px;
	}
	
.navbar .nav > a:hover, .navbar .nav > li > a:hover, .navbar .nav > a:focus {
	color:#999;
	border-bottom:#ffb64e solid .35em;
	border-radius:0px;
	background:none;
	box-shadow:none;
	}
	
 .navbar .nav .active > a:focus,.navbar .nav .active > a,.navbar .nav .active > a:hover {
	color:#f16c01;
	border-bottom:#f16c01 solid .35em;
	border-radius:0px;
	background:none;
	box-shadow:none;
	}	
	
.navbar .nav > li > a.profile {
	font-weight:400;
	font-size:.85em;
	background-image:url(../images/profileIcon.png);
	background-size:25px 25px;
	background-repeat:no-repeat;
	text-indent:30px;
	height:20px;
	margin: -10px 0px 0 0;
	}

.navbar .nav > li > a.profile:hover {
	border-bottom:none;
	}

.navbar .nav > li > a.random {
	background-image: url(../images/diceIcon.png);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: contain;
	width:46px;
	height:28px;
	margin-top:-4px;
	text-indent:-9999px;
	padding-top:0px;
}

.navbar .nav > li > a.random:hover  {
	background-image: url(../images/diceIcon_hover.png);
	border:none;

}

.navbar .btn {
	margin-top:20px;
	}

#notifyBanner {
	position:absolute;
	background:url(../images/achieveBanner.png) no-repeat;
	background-position:right;
	background-size: contain;
	top:0;
	right:350px;
	height:60px;
	display:none;
	}

#notifyBanner.unlocked {
	display:block;
	}
	
#notifyBanner a {
	padding:17px 60px 0px 0px;
	color:#f69100;
	display:block;
}
#notifyBanner a:hover {
	color:#f16c01;
}
@media only screen and (max-width: 911px) {
		#topNav.container-fluid {
			height:65px;
			background:#CCC;
		}
		#logoDiv.span4 {
			background-image: url(../images/logoMob.png);
			height:45px;
			float:left;
			position:absolute;
			top:0;
			left:5px;
			display:none
		}
		#logoDiv.span2 {
			height:45px;
			position:absolute;
			top:-10px;
			right:5px;
			width:55px;
		}
		#logoDiv.span4 {
			background-image: url(../images/logoMob.png);
			height:45px;
		}
	.navbar .nav > li > a {
		font-size:100%;
		}
	  .nav-collapse,
	  .nav-collapse.collapse {
		height: 0;
		overflow: hidden;
		margin-top:65px;
		text-align:center;
  }
	  .navbar .btn-navbar {
    	display: block;
		background:#ffb64e;
		height:65px;
		width:65px;
		position:absolute;
		margin:0;
		box-shadow:none;
		border-radius:0;
		left:0;
  }
	  .navbar .btn-navbar .icon-bar {
	  	box-shadow:none;
		margin-left:4px;
		width:35px;
	}
	
	}
@media only screen and (max-width: 480px) {
body {
	padding:0px;
}
#logoDiv.span16 {
			height:110px;
			display:block;
			background:url(../images/logoNorm.png) #fff no-repeat;
			background-size: contain;
			background-position:center;
			margin:0px;
			padding:0px;
			position:relative;
			margin:0 auto;
		}
#page.container-fluid {
	width:90%;
	padding-top:18px;
}

.headerShadow {
	display:none;
}
.headerShadowMobile {
	width: 100%;
	height: 10px;
	background-image:url(../images/headerShadow.png);
	background-size: 100% 10px;
	background-repeat: repeat-x;
	display:block;
}
}
/*------END HEADER STYLES-------------
----------------
-------------------------------------*/

#page.container-fluid {
	margin-top:9em;
}

.jumbotron {
		position:relative;
		padding-top:40px;
		margin-top:5em;	
	}

.jumbotron.session {
		position:relative;
		padding-top:20px;
		margin-top:5em;	
	}
	
.jumbotron h1 {
	width: 280px;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(255,255,255,1.00)),color-stop( 0% , rgba(255,166,0,0.70)));
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,166,0,0.70) 0%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,166,0,0.70) 0%);
	position:relative;
	top:-40px;
	color:white;
	line-height:1.5em;
	font-size:2em;
	padding-top:3em;
	margin:0;
	padding-left:10px;
	}
	
.ribbondown {
		height:0px;
		position: absolute; 
		width:0px;
		left:0;
		border:solid 145px transparent;
		border-top:solid 50px rgba(255, 166, 0, 0.7);
		margin-top:50px;
	}
	
.ribbonextension {
		width:290px;
		height:50px;
		position:absolute;
		left:0px;
			background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(255,255,255,1.00)),color-stop( 0% , rgba(255,166,0,0.70)));
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,166,0,0.70) 0%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,166,0,0.70) 0%);
	}
	
@media only screen and (max-width: 911px) {
#page.container-fluid {
	margin-top:8em;
}
}
@media (min-width: 480px) and (max-width: 767px) {
#page.container-fluid {
	margin-top:6em;
}
.navMiddleTop {
	display:none;
	}
	.navbar .nav {
		height:100%;
		margin:60px 0px 0px 15px;
}
}

@media only screen and (max-width: 480px) {
#page.container-fluid {
	margin-top:0px;
}

.jumbotron {
			margin-top:0px;
		}
		
		p {
			margin-left:10px;
			margin-right:10px;	
		}
		
		
		.jumbotron h1 {
			font-size:1.5em;
			width:190px;
			padding-top:0;
		}
		
	.ribbondown {
		height:0px;
		position: absolute; 
		width:0px;
		left:0;
		border:solid 100px transparent;
		border-top:solid 25px rgba(255, 166, 0, 0.5);;
		margin-top:0px;
	}
	
	.ribbonextension {
		display:none;
	}
.navMiddleTop {
	display:none;
	}
.navbar .nav {
		height:100%;
		margin:60px 0px 0px 15px;

}

}

.jumbotron > .container-fluid, .container-fluid.recommend  {
	margin-top:0em;
}

.jumbotron.bigImage {
	background:url(../images/bigImage.jpg) no-repeat;
	background-size:cover;
	background-position:center;
}
/*-------Added jumbotron Images here -------------*/

.jumbotron.bigimage.astro {
	background:url(../images/astro_big.jpg) no-repeat;
}

/*-------End jumbotron Images -------------*/
#returnNav {
height:48px; 
background:#ee6034; 
/*z-index:10000;
*/position:relative;
padding:0px;
}
#returnNav a.arrow {
color:#fff;
display:block;
}

/*-------SESSION PROFILE -------------*/

.span11.sessionProfile {
	margin-top:20px;
	color:#fff;
}
.span11.sessionProfile .span10 {
	background:#666;
	padding:17px;
	font-size:.85em;
	margin-left:0px;
	width:63.25%;
	height:292px;
	
}
.span11.sessionProfile .span10 H1 {
	display:block;
	background:url(../images/microphone.png) no-repeat;
	margin:0px;
	padding:40px 0px 0px 0px;	
	
}
.span11.sessionProfile .span6 {
	background:url(../images/avatar.png);
	background-size:cover;
	background-position:center;
	height:292px;
	
}


.footer {
text-align: center;
padding: 30px 0px;
margin-top: 70px;
border-top: 1px solid rgb(229, 229, 229);
background-color:#666;
color:#CCC;
}

/*-------NAV TWEAK-------------*/
.cbp-hsinner {border:0px none; }