@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid white;
}
.boxHover {
	position:relative;
	overflow:hidden;	
}

.boxHover .boxHoverOver {
	position: absolute;
	top: auto;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	box-shadow: inset 0 0 100px 5px rgba(255,102,0,1),0 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: opacity 0.3s;
	-webkit-box-shadow: inset 0 0 100px 5px rgba(255,102,0,1),0 1px 2px rgba(0,0,0,0.1);
}

.boxHover:hover .boxHoverOver {
	opacity:1;
	-webkit-transition: opacity 0.3s;
}

/* entire container, keeps perspective */
.flip-container {
	-webkit-perspective: 1000;
}
	/* flip the pane when hovered */
	/*.flip-container:hover .flipper, .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
	}*/
	
.flip-container.flip .flipper {
	-webkit-transform: rotateY(180deg);
}

.flip-container, .front, .back {
}

/* flip speed goes here */
.flipper {
	-webkit-transition: 1s;
	-webkit-transition-timing-function: ease-out;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	background:#999;
}

/* back, initially hidden pane */
.back {
	background:#75BAF4;
	-webkit-transform: rotateY(180deg);
}

img {
	width:100%	
}

.row-fluid [class*="span"] .panel {
	margin-top:1em; 
}

.row-fluid [class*="span"] .panel:first-child {
	margin-top:0; 
}

.ribbonPanel {
 position:relative;
}

#ribbon {
  padding:0 0 10px 0;
  position:absolute;
  right:0.5em;
  top:-0.5em;
  width:40px;
  float:right;
  overflow:visible;
  z-index:10;
}

  #ribbon div {
    background:#bb3a34;
    background: linear-gradient(#CD5124 0%, #F05F29 100%);
    color:#fff;
    padding:0.5em 0;
    text-align:center;
    text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.5);
  }

  #ribbon div:after {
    border-left: 20px solid #F05F29;
    border-right: 20px solid #F05F29;
    border-bottom: 10px solid transparent;
    bottom:0;
    content:'';
    height: 0;
    left:0;
    position:absolute;
    width: 0;
  }
  
.hoverPanel {
	position:relative;
	overflow:hidden;	
}

.hoverPanel img {
	width:100%;
	display:block;
	position:relative;	
}

.hoverPanel .hoverPanelContent {
	position:absolute;
	top:auto;
	bottom:0;
	width:100%;
	height:100%;
	opacity:0;
	-webkit-transform:translateY(100%);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.6s;
}

.hoverPanel .hoverPanelContent h2 {
	color:#ffffff;
	font-size:2em;
	position:absolute;
	bottom:0;
	top:auto;	
	padding:0.5em;	
	margin:0;			
}

.hoverPanel:hover .hoverPanelContent {
	
	opacity:1;
	-webkit-transform:translateY(0)	;
	-webkit-transition: opacity 0.1s, -webkit-transform 0.6s;
}

.hoverPanel:hover .hoverPanelContent:after {
	background:url(../images/hoverOrange.png);
	background-size:cover;
	content: "";
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}        


h1, h2, h3, h4 {
	margin:0px;	
}

h1 {
	font-size:3em;
	line-height:3.625em;	
}

h2 {
	font-size:2em;
	line-height:2em;	/* andrew : 2.25 em */
}

h3 {
	font-size:1.5em;
	line-height:1.875em;	
}

h4 {
	font-size:1.125em;
	line-height:1.5em;	
}

#siteTitle {
  text-align:center;
  color:#4D4D4D;  
}

.cbp-hsmenu > li > a {
text-decoration: none;
white-space: nowrap;
}

.cbp-hsmenu > li > a:hover, .cbp-hsmenu > li.cbp-hsitem-open > a  {
background: url(../images/underline.png);
background-repeat: repeat-x;
background-position: 100% 2.2em;

}

.navbar .btn-navbar {
	margin-bottom:5px;	
}

.navbar-fixed-top {
    margin-bottom: 0px;
}
  
body {
  	background-image: url(../images/debut_light.png);
	background-position:top;
}

.navbar .btn-navbar {
	margin-right:25px;	
}

/* IE Layout */
.container-fluid {
	max-width:960px;
	margin-left:auto;
	margin-right:auto;	
	margin-top:4em;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
	margin-left: 1.2658%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
	margin-left: 1.2658%;
}

.row-fluid .span16 {
  width: 100%;
  *width: 99.94680851063829%;
}

.row-fluid .span15 {
width: 93.6708%;
}

.row-fluid .span14 {
width: 87.3417%;
}

.row-fluid .span13 {
width: 81.0126%;
}

.row-fluid .span12 {
width: 74.6835%;
}

.row-fluid .span11 {
width: 68.3544%;
}

.row-fluid .span10 {
width: 62.0253%;
}

.row-fluid .span9 {
width: 55.6962%;
}

.row-fluid .span8 {
width: 49.367%;
}

.row-fluid .span7 {
width: 43.0379%;
}

.row-fluid .span6 {
width: 36.7088%;
}

.row-fluid .span5 {
width: 30.3797%;
}

.row-fluid .span4 {
width: 24.0506%;
}

.row-fluid .span3 {
width: 17.7215%;
}

.row-fluid .span2 {
width: 11.3924%;
}

.row-fluid .span1 {
width: 5.0632%;
}

.row-fluid .offset1:first-child {
margin-left:6.329%	
}

.row-fluid .offset1 {
margin-left:7.5948%	
}

.row-fluid .offset2:first-child {
margin-left:12.658%	
}

.row-fluid .offset2 {
margin-left:13.9238%	
}

.row-fluid .offset3:first-child {
margin-left:18.987%	
}

.row-fluid .offset3 {
margin-left:20.2528%	
}

.row-fluid .offset4:first-child {
margin-left:25.316%	
}

.row-fluid .offset4 {
margin-left:26.5818%	
}

.row-fluid .offset5:first-child {
margin-left:31.645%	
}

.row-fluid .offset5 {
margin-left:32.9108%	
}

.row-fluid .offset6:first-child {
margin-left:37.974%	
}

.row-fluid .offset6 {
margin-left:39.2398%	
}

.row-fluid .offset7:first-child {
margin-left:44.303%	
}

.row-fluid .offset7 {
margin-left:45.5688%	
}

.row-fluid .offset8:first-child {
margin-left:50.632%	
}

.row-fluid .offset8 {
margin-left:51.8978%	
}

.row-fluid .offset9:first-child {
margin-left:56.961%	
}

.row-fluid .offset9 {
margin-left:58.2268%	
}

.row-fluid .offset10:first-child {
margin-left:63.29%	
}

.row-fluid .offset10 {
margin-left:64.5558%	
}

.row-fluid .offset11:first-child {
margin-left:69.619%	
}

.row-fluid .offset11 {
margin-left:70.8848%	
}

.row-fluid .offset12:first-child {
margin-left:75.948%	
}

.row-fluid .offset12 {
margin-left:77.2138%	
}

.row-fluid .offset13:first-child {
margin-left:82.277%	
}

.row-fluid .offset13 {
margin-left:77.2138%	
}

.row-fluid .offset14:first-child {
margin-left:88.606%	
}

.row-fluid .offset14 {
margin-left:89.8718%	
}

.row-fluid .offset15:first-child {
margin-left:94.935%	
}

.row-fluid .offset15 {
margin-left:96.2008%	
}

@media only screen and (max-width: 700px) {
.container-fluid {
	margin-top:3em;
}
}
/* Mobile Layout: 480px and below. */
@media only screen and (max-width: 480px) {

.container-fluid {
	margin-top:1em;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
	margin-left: 5.2631%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
	margin-left: 5.2631%;
}

.row-fluid .span16,
.row-fluid .span15,
.row-fluid .span14,
.row-fluid .span13,
.row-fluid .span12,
.row-fluid .span11,
.row-fluid .span10,
.row-fluid .span9,
.row-fluid .span8,
.row-fluid .span7,
.row-fluid .span6,
.row-fluid .span5,
.row-fluid .span4
	   {
  width: 100%;
  *width: 99.94680851063829%;
  margin-left: 0;
}

.row-fluid .span3 {
width: 73.6842%;
}

.row-fluid .span2 {
width: 47.3684%;
}

.row-fluid .span1 {
width: 21.0526%;
}

}



/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
/*@media only screen and (min-width: 481px) {

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
	margin-left:  2.5641%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
	margin-left: 2.5641%;
}

.row-fluid .span16,
.row-fluid .span15,
.row-fluid .span14,
.row-fluid .span13,
.row-fluid .span12,
.row-fluid .span11,
.row-fluid .span10,
.row-fluid .span9,
.row-fluid .span8
	   {
  width: 100%;
  *width: 99.94680851063829%;
  margin-left: 0;
}

.row-fluid .span7 {
width: 87.1794%;
}

.row-fluid .span6 {
width: 74.3589%;
}

.row-fluid .span5 {
width: 61.5384%;
}

.row-fluid .span4 {
width: 48.7179%;
}

.row-fluid .span3 {
width: 35.8974%;
}

.row-fluid .span2 {
width: 23.0769%;
}

.row-fluid .span1 {
width: 10.2564%;
}

}*/

@media only screen and (min-width: 980px) {

.container-fluid {
	max-width:960px;
	margin-left:auto;
	margin-right:auto;	
	margin-top:6em;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 1.2658%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
	
.row-fluid .controls-row [class*="span"] + [class*="span"] {
	margin-left: 1.2658%;
}

.row-fluid .span16 {
  width: 100%;
  *width: 99.94680851063829%;
}

.row-fluid .span15 {
width: 93.6708%;
}

.row-fluid .span14 {
width: 87.3417%;
}

.row-fluid .span13 {
width: 81.0126%;
}

.row-fluid .span12 {
width: 74.6835%;
}

.row-fluid .span11 {
width: 68.3544%;
}

.row-fluid .span10 {
width: 62.0253%;
}

.row-fluid .span9 {
width: 55.6962%;
}

.row-fluid .span8 {
width: 49.367%;
}

.row-fluid .span7 {
width: 43.0379%;
}

.row-fluid .span6 {
width: 36.7088%;
}

.row-fluid .span5 {
width: 30.3797%;
}

.row-fluid .span4 {
width: 24.0506%;
}

.row-fluid .span3 {
width: 17.7215%;
}

.row-fluid .span2 {
width: 11.3924%;
}

.row-fluid .span1 {
width: 5.0632%;
}

.row-fluid .offset1:first-child {
margin-left:6.329%	
}

.row-fluid .offset1 {
margin-left:7.5948%	
}

.row-fluid .offset2:first-child {
margin-left:12.658%	
}

.row-fluid .offset2 {
margin-left:13.9238%	
}

.row-fluid .offset3:first-child {
margin-left:18.987%	
}

.row-fluid .offset3 {
margin-left:20.2528%	
}

.row-fluid .offset4:first-child {
margin-left:25.316%	
}

.row-fluid .offset4 {
margin-left:26.5818%	
}

.row-fluid .offset5:first-child {
margin-left:31.645%	
}

.row-fluid .offset5 {
margin-left:32.9108%	
}

.row-fluid .offset6:first-child {
margin-left:37.974%	
}

.row-fluid .offset6 {
margin-left:39.2398%	
}

.row-fluid .offset7:first-child {
margin-left:44.303%	
}

.row-fluid .offset7 {
margin-left:45.5688%	
}

.row-fluid .offset8:first-child {
margin-left:50.632%	
}

.row-fluid .offset8 {
margin-left:51.8978%	
}

.row-fluid .offset9:first-child {
margin-left:56.961%	
}

.row-fluid .offset9 {
margin-left:58.2268%	
}

.row-fluid .offset10:first-child {
margin-left:63.29%	
}

.row-fluid .offset10 {
margin-left:64.5558%	
}

.row-fluid .offset11:first-child {
margin-left:69.619%	
}

.row-fluid .offset11 {
margin-left:70.8848%	
}

.row-fluid .offset12:first-child {
margin-left:75.948%	
}

.row-fluid .offset12 {
margin-left:77.2138%	
}

.row-fluid .offset13:first-child {
margin-left:82.277%	
}

.row-fluid .offset13 {
margin-left:77.2138%	
}

.row-fluid .offset14:first-child {
margin-left:88.606%	
}

.row-fluid .offset14 {
margin-left:89.8718%	
}

.row-fluid .offset15:first-child {
margin-left:94.935%	
}

.row-fluid .offset15 {
margin-left:96.2008%	
}


}